
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>GioiThieu</h2>
<p>Gia goc: <del>1.000.000 VND</del>; Gia giam: <span style="color:red;font-weight:bold">500.000 VND </span> </p>

<pre></pre>
