
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<a href="https://www.google.com/" target="_blank" title="day la duong dan mo trang google">
    Google
</a>
<a href="SanPham" target="_blank">San Pham</a><br />
<a href="GioiThieu" target="_blank">Gioi Thieu</a><br />
<a href="/Home/Index" target="_blank">Index Home</a><br />
<a href="#gt2">Di toi gioi thieu 2</a><br />
<a href="#gt1">Di toi gioi thieu 1</a><br />
<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Email</a><br />

<div style="height:100px;background-color:bisque">
    <a href="~/TaiLieu/tulieubimat.pdf" target="show-do">Tai Lieu</a>
    <iframe width="400" height="400" name="show-do"></iframe>
</div>
<div style="height:100px;background-color:aqua" id="gt2">Gioi Thieu 2</div>

 